.new-project-form-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.btn-epic-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-epic-delete {
  background-color: red;
}

.ql-container {
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: #282a2a;
  border-left: 1px solid #282a2a !important;
  border-right: 1px solid #282a2a !important;
  border-bottom: 1px solid #282a2a !important;
}

h1 {
  color: black;
}

/* Snow Theme */
.ql-snow.ql-toolbar {
  display: block;
  background: #424242;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-color: #282a2a !important;
}

.ql-editor {
  min-height: 18em;
  background-color: #282a2a;
  border-color: #282a2a !important;
}

.themeSwitcher {
  margin-top: 0.5em;
  font-size: small;
}
.feature-new-epic {
  margin-top: 40px;
}

.ql-toolbar .ql-stroke {
  fill: none !important;
  stroke: #fff !important;
}

.ql-toolbar .ql-fill {
  fill: #fff !important;
  stroke: none !important;
}

.ql-toolbar .ql-picker {
  color: #fff !important;
}

.ql-picker-options {
  color: #282a2a !important;
}
h1 {
  color: #fff !important;
}
