.MuiFormLabel-root {
  color: rgb(255, 255, 255) !important;
}
.MuiFormLabel-root.Mui-focused {
  color: rgb(255, 255, 255) !important;
  outline: none;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(255, 255, 255) !important;
  outline: none;
}

.new-project-form-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.btn-project-form {
  margin-left: 310px;
  width: 400px;
}

.btn-project-form-delete {
  margin-left: 310px;
  width: 400px;
  background-color: red;
}

.ql-container {
  background-color: white;
  margin-bottom: 20px;
  color: black;
}

.feature-new-epic {
  margin-top: 40px;
}
