.new-project-form-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.btn-project-form {
  margin-left: 310px;
  width: 400px;
}

.btn-project-form-delete {
  margin-left: 310px;
  width: 400px;
  background-color: red;
}

.ql-container {
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
  color: black;
}

h1 {
  color: black;
}

/* Snow Theme */
.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-editor {
  min-height: 18em;
}

.themeSwitcher {
  margin-top: 0.5em;
  font-size: small;
}
.feature-new-epic {
  margin-top: 40px;
}
