.modal-issue {
  background-color: #0f0f0f;
  border-radius: 2px;
  margin: 48px 0 80px;
  min-height: 450px;
  height: 750px;
  width: 800px;
  outline: none;
  padding: 20px;
}

h1 {
  color: #ffffff;
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-btn-ctn {
  display: flex;
}

.close-btn {
  height: 40px;
  width: 35px;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  margin-bottom: 5px;
  color: white;
}

.close-btn:hover {
  background-color: #24292f;
  color: white;
}

.new-project-form-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  color: white;
}
.center {
  position: relative;
  top: 10px;
  left: 120px;
}
.MuiChip-filled {
  background-color: #fff !important;
}

.MuiOutlinedInput-root {
  color: #fff !important;
  border-color: white;
}
