.close-btn-ctn {
    display: flex;
}

.close-btn {
    height: 40px;
    width: 35px;
    font-size: 20px;
    color: #24292f;
    border: none;
    border-radius: 25px;
}

.close-btn:hover {
    background-color: #9e9999;
    color: white;
}

.new-project-form-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    color: white;
    background-color: white;

}

.center {
    position: relative;
    top: 10px;
    left: 120px;
}