.edit-project-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.autocomplete-edit-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-container {
    margin-left: 80px;
}