.new-project-form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-new-project-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-new-project-back {
  background-color: red;
}
.MuiChip-filled {
  background-color: #4e4a4a !important;
  color: #fff !important;
}

.MuiOutlinedInput-root {
  color: #fff !important;
  border-color: white;
}
