.new-project-form-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.btn-project-form {
  margin-left: 310px;
  width: 400px;
}

.btn-project-form-delete {
  margin-left: 310px;
  width: 400px;
  background-color: red;
}
