.MuiFormLabel-root {
  color: rgba(30, 215, 96, 1) !important;
}
.MuiFormLabel-root.Mui-focused {
  color: rgba(30, 215, 96, 1) !important;
  outline: none;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgba(30, 215, 96, 1) !important;
  outline: none;
}

.new-project-form-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.btn-project-form {
  margin-left: 310px;
  width: 400px;
}

.btn-project-form-delete {
  margin-left: 310px;
  width: 400px;
  background-color: red;
}
